$bgcolor: white
$fullline: 100%
$gloryred: #BF0A30
$gloryblue: #002868
$glorywhite: white
$glorygray: #EFEFEF

$lineRotate: 0.5deg
$lineRotateOdd: -0.5deg

*
	margin: 0
	padding: 0
	box-sizing: border-box
	transition: all 0.3s ease-in

body
	background-color: $glorygray
	font-family: "Arial", sans-serif

#stars
	background-color: $gloryblue
	width: 40%
	height: 53.84617%
	float: left
	position: absolute
	left: 0
	top: 0
	z-index: 99
	padding: 0.5% 1%
	text-align: center

#stars div:first-child
	margin-top: 0

#stars div
	margin-top: -3.5%
	width: 100%
	position: relative

#stars span
	margin: 0 4.4%
	color: white
	font-size: 3.5vw
	cursor: pointer
	display: inline-block
	font-weight: normal

#stars span:hover
	color: yellow
	transform: scale(1.4)
	-moz-transform: scale(1.4)
	-webkit-transform: scale(1.4)
	-o-transform: scale(1.4)
	-ms-transform: scale(1.4)
	
#stars div span:first-child
	color: yellow
	margin-left: 1%

#lines
	float: left
	width: 100%
	height: 100%
	position: absolute
	
#lines div
	width: $fullline
	height: 7.69231%
	background-color: $glorywhite
	cursor: pointer
	overflow: hidden
	padding: 1%
	box-sizing: border-box

#lines div:nth-child(odd)
	background-color: $gloryred
	
#lines div h2
	opacity: 0
	text-align: right
	margin-right: -200px

#lines div:hover
	-webkit-transform: scale(0.9) rotate($lineRotate)
	-moz-transform: scale(0.9) rotate($lineRotate)
	-ms-transform: scale(0.9) rotate($lineRotate)
	-o-transform: scale(0.9) rotate($lineRotate)
	transform: scale(0.9) rotate($lineRotate)
	-webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5)
	-moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5)
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5)	

#lines div:nth-child(odd):hover
	-webkit-transform: scale(0.9) rotate($lineRotateOdd)
	-moz-transform: scale(0.9) rotate($lineRotateOdd)
	-ms-transform: scale(0.9) rotate($lineRotateOdd)
	-o-transform: scale(0.9) rotate($lineRotateOdd)
	transform: scale(0.9) rotate($lineRotateOdd)
	-webkit-box-shadow: 5px 5px 0px 0px rgba(125,5,30,0.5)
	-moz-box-shadow: 5px 5px 0px 0px rgba(125,5,30,0.5)
	box-shadow: 5px 5px 0px 0px rgba(125,5,30,0.5)

#lines div:hover > h2
	opacity: 1
	margin-right: 0
	
@media screen and (orientation:portrait)
	#stars
		width: 100%
		height: 43.84617%

	#lines
		top: 43.84617%